* {
  transition-property: all;
  transition-duration: 2s;
  transition-origin: center;
  cursor: none;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
}

body {
  background: #000 no-repeat center;
  background-size: cover;
}

.overlay {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  opacity: 0.1;
  background-color: black;
  width: 100%;
  height: 100%;
}
.hidden {
  display: none;
}


h1 {
  z-index: 2;
  position: absolute;
  top: 50%;
  right: 1em;
  left: 1em;
  margin: 0;
  padding: 0;
  overflow: visible;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0,0,0,1),
             0px 0px 23px rgba(0,0,0,.75),
             0px 2px 33px rgba(0,0,0,.5);

  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 4vw;
  line-height: 1.2em;
  color: #FFF;
  opacity: .9;
}
p {
  z-index: 2;
  position: absolute;
  top: 40%;
  right: 10em;
  left: 10em;
  margin: 0;
  padding: 0;
  text-align: center;
  z-index: 2;
  color: white;
  font-size: 1.5vw;
  text-shadow: 0 0 .5em #000, 0 0 .5em #000, 0 0 .5em #000, 0 0 .5em #000, 0 0 .5em #000, 0 0 .5em #000, 0 0 .5em #000, 0 0 .5em #000, 0 0 .5em #000,
  0 0 .5em #000, 0 0 .5em #000, 0 0 .5em #000, 0 0 .5em #000;
  font-family: Lato, sans-serif;
}

@media only screen and (max-width: 600px) {
  .buttons{
    width: 100px;
    transform: translateY(0%);
  }
  h1 {
    position: absolute;
    top: 50%;
  }
}
